*{
    margin: 0;
    padding: 0;
}
.capa{
    background-color: #e7e7cb;
}

body{
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background: #d2d2c1 url("Imagens/fundo.png");
    display: flex;
    flex-direction: column;
}

nav {
    background-color: #c5c5b2;
    font-size: 20px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    border-top: solid 2px #fff;
    border-bottom: solid 2px #fff;
    padding: 10px;
}

a{
    margin: 15px;
    text-decoration: none;
    color: #3c544c;
}

.conteudo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;

}

.conteudo div {
    border: 2px solid #fff;
    margin: 40px;
    }

.conteudo img {
    width: 300px;
    height: 400px;
    border-radius: 30px;
    padding: 10px;
}

h3{
    font-weight: bold;
    color: #3c544c;
    padding: 5px;
}

p{
    font-size: 20px;
    padding: 5px;
    font-family: fantasy;
}

button{
background-color: #4CAF50;
border: none;
color: #FFFFFF;
padding: 16px 30px;
text-align: center;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
margin: 16px 0 !important;
text-decoration: none;
font-size:16px;
cursor:pointer;

}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }


ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 30;
}